@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT/FuturaPT-Book.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPT-Book.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPT-Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT/FuturaPT-Demi.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPT-Demi.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT/FuturaPT-Medium.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPT-Medium.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT/FuturaPT-Bold.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPT-Bold.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPT-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT/FuturaPT-ExtraBold.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPT-ExtraBold.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPT-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT-Book';
    src: url('/fonts/FuturaPT/FuturaPT-Book.woff2') format('woff2'),
    url('/fonts/FuturaPT/FuturaPT-ExtraBold.woff') format('woff'),
    url('/fonts/FuturaPT/FuturaPT-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Heading Pro Medium';
    src: url('/fonts/HeadingProMedium/subset-HeadingProMedium-BlackItalic.woff2') format('woff2'),
        url('/fonts/HeadingProMedium/subset-HeadingProMedium-BlackItalic.woff') format('woff'),
        url('/fonts/HeadingProMedium/subset-HeadingProMedium-BlackItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Chalkboard SE';
    src: url('/fonts/ChalkboardSE/subset-ChalkboardSE-Light.woff2') format('woff2'),
        url('/fonts/ChalkboardSE/subset-ChalkboardSE-Light.woff') format('woff'),
        url('/fonts/ChalkboardSE/subset-ChalkboardSE-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Шрифт для тестового задания */
@font-face {
    font-family: 'BudBoldCyr';
    src: url('/fonts/BudBoldCyr/Bud-Bold-Cyr.woff2') format('woff2'),
        url('/fonts/BudBoldCyr/Bud-Bold-Cyr.woff') format('woff'),
        url('/fonts/BudBoldCyr/Bud-Bold-Cyr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
