@@include('templates/desktop/include/header.html')

<!-- <footer class="footer">
    <div class="footer__inner">
        <div class="footer__head">
            <a class="footer__logo-2"></a>
        </div>
        <div class="footer__body">
            <div class="footer__list">
                <ul>
                    <li><a class="jsScrollTo" href="#section-main">главная</a></li>
                    <li><a class="jsScrollTo" href="#section-team">команда стирателей</a></li>
                    <li><a class="jsScrollTo" href="#section-products-2">товары спонсоры</a></li>
                    <li><a class="jsScrollTo" href="#section-action">конкурс</a></li>
                    <li><a class="jsScrollTo" href="#section-video">видео</a></li>
                    <li><a class="jsScrollTo" href="#section-test">тест</a></li>
                    <li><a class="jsScrollTo" href="#section-gallery">галерея</a></li>
                    <li><a href="#">личный кабинет</a></li>
                    <li><a href="/files/Правила конкурса Моя семья - супергерои.pdf">правила акции</a></li>
                </ul>
            </div>
            <a href="tel:8-800-555-55-05" class="footer__phone">8-800-555-55-05</a>
        </div>
        <div class="footer__foot">
            <div class="footer__copy">©2018 все права защищены.</div>
        </div>
    </div>
</footer> -->

<!-- Тестовое задание -->
@@include('templates/desktop/include/test-task.html')

@@include('templates/desktop/include/footer.html')


